

.authors {
  position:absolute;
  bottom:0;
  height:60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  width: 100vw;
  background-color: #8b6f2e70;
  color: white;

}