@import "./settings/reset";

* {
  box-sizing: border-box;
}

body {
  //font-family: $font_base;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  @media (max-width: 800px) {
    max-width: 100vw;
  }
}

a {
  color: saddlebrown;
  text-decoration: none;
}